h2 {
    background-color: #F66731;
    height: 50px;
    width: 500px;

    font-family: Acherus
}

body {
    background-color: #EACB34;

}

aside {
    font-style: italic;
}

.headPhoto {
    height: 100px;
    width: 1000px;
}

.temples {

}