.container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

h2 {
    font-family: 'Grenze', serif;
    background-color: #F66731;
    height: 50px;
    width: 100%;
    text-align: center;
    font-size: 40px;
}

h3 {
    font-family: 'Grenze', serif;
    background-color: #ED2847;
    text-align: center;
}

body {
    font-family: 'Nanum Gothic', sans-serif;
    background-color: #EACB34;
    color: #4C2B2B;
}

article {
    width: 75%;
    justify-content: flex-start;
}

aside {
    font-family: 'Nanum Gothic', sans-serif;
    font-style: italic;
    width: 25%;
    justify-content: flex-end;
}

.headPhoto {
    height: auto;
    max-width: 100%;
    align-content: center;
}

.aside-photo {
    flex-direction: column;
    border: 1px solid #A20F38;
    max-width: 50%;
}

#action-button {
    background-color: #F66731;
    height: 100px;
    width: 100%;
    font-size: 24px;
}

footer {
    font-family: 'Grenze', serif;
    text-align: center;
    font-size: 10pt;
}